
.select-table {
  height: 600px;

  table {
    font-size: 14px;
    margin-bottom: 0;
    table-layout: fixed;

    tr {
      cursor: default;
    }

    td {
      vertical-align: middle;
    }
  }

  .col-time {
    width: 65px;
  }
  .col-value {
    width: 65px;
  }
  .col-trend {
    width: 105px;
  }
  .col-shift {
    width: 140px;
  }
}
