.select-filters {
  margin: 0 auto;
  padding: 0 1rem 1rem;

  > div {
    margin-bottom: 0 !important;
  }
}

.select-table {
  overflow: overlay;
  height: 600px;

  table {
    font-size: 14px;
    margin-bottom: 0;
    table-layout: fixed;

    tr {
      cursor: default;
    }

    td {
      vertical-align: middle;
    }
  }

  .col-time {
    width: 65px;
  }
  .col-value {
    width: 65px;
  }
  .col-trend {
    width: 100px;
  }
  .col-shift {
    width: 140px;
  }
}

.demand-shift {
  display: flex;
  gap: 8px;
}

.demand-shift {
  .icon-container {
    font-size: 18px;
    line-height: 21px;
    height: 22px;
    width: 22px;
  }
}
