## YARN THINGS
# Documentation here: https://yarnpkg.com/features/zero-installs
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Using Yarn PnP in loose mode
/node_modules/

## NEXTJS THINGS
/.next/

# vercel
.vercel

## PROJECT THINGS
# production
/build

# testing
/coverage

# misc
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
