@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-icon {
  color: $light;
  margin-right: 12px;

  i {
    font-size: 20px;
    line-height: 20px;
  }
}
