@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.chip {
  border-radius: 10px;
  font-size: 12px;
  padding: 1px 6px;
  width: fit-content;

  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 3px;
  justify-content: center;
}

.chip-text {
  user-select: none;
}

.chip-close {
  line-height: 12px;
}

.chip-close-btn {
  background: none;
  border: none;
  color: $gray-700;
  font-size: 12px;
  height: 16px;
  line-height: 12px;
  margin: 0;
  padding: 0;
  z-index: unset !important;

  i {
    line-height: 12px;
  }
}
