$dark-blue: #CFDFFF;
$light-blue: #D0F0FD;
$teal: #C2F5E9;
$green: #D1F7C4;
$yellow: #FFEAB6;
$orange: #FEE2D5;
$red: #fcd6d6;
$pink: #FFCCFA;
$purple: #EDE2FE;
$gray: #ebebeb;

.dark-blue {
  background-color: $dark-blue;
}
.light-blue {
  background-color: $light-blue;
}
.teal {
  background-color: $teal;
}
.green {
  background-color: $green;
}
.yellow {
  background-color: $yellow;
}
.orange {
  background-color: $orange;
}
.red {
  background-color: $red;
}
.pink {
  background-color: $pink;
}
.purple {
  background-color: $purple;
}
.gray {
  background-color: $gray;
}
