@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.container {
  padding-bottom: 20px;
}

.trend-controls {
  text-align: center;

  button {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.workshops {
  margin: 0 16px;
  gap: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;

  h3 {
    text-align: center;
    border-bottom: 1px solid $blue-400;
    padding: 4px 8px 8px 8px;
  }
}

.workshop {
  border: 1px solid $blue-400;
  border-radius: 12px;
  flex: 1 1 auto;
  padding: 8px;
  max-width: 500px;
}
