html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.spacer1 {
  content: '';
  height: 8px;
  min-height: 8px;
}

.spacer2 {
  content: '';
  height: 16px;
  min-height: 16px;
}

.spacer3 {
  content: '';
  height: 24px;
  min-height: 24px;
}

.spacer4 {
  content: '';
  height: 32px;
  min-height: 32px;
}

.input-group-btn--sm {
  font-size: 11px;

  height: 12px;
  line-height: 12px;
  width: 12px;
}

input:read-only {
  cursor: default;
  pointer-events: none;
}

.btn-icon--sml {
  border: 0;
  font-size: 16px;
  line-height: 16px;
  padding: 0;
  height: 24px;
  width: 24px;
}

.btn-icon--med {
  border: 0;
  font-size: 20px;
  line-height: 20px;
  padding: 0;
  height: 28px;
  width: 28px;
}

.btn-icon--lrg {
  border: 0;
  font-size: 32px;
  line-height: 32px;
  padding: 0;

  height: 40px;
  width: 40px;
}
